<!DOCTYPE html>
<html>
  <head>
    <title>JudgeMe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'partials/header' %>
    <div class="page-wrapper">
      <%= yield %>    
    </div>
    <%= render partial: 'partials/footer' %>
    <%= javascript_pack_tag 'script' %>
  </body>
</html>
